<ion-header>
  teest header
</ion-header>
<!-- <ion-content> -->
<!-- //animated bounceOutLeft -->
  <!-- <div class="test-theming "> test relocation</div>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
  <div (click)="submit()">submit</div> -->
  
<!-- </ion-content> -->

 
 <ion-content>
 client are here
 <mat-accordion>
     <mat-expansion-panel>
       <mat-expansion-panel-header>
         <mat-panel-title>
           Personal data
         </mat-panel-title>
         <mat-panel-description>
           Type your name and age
         </mat-panel-description>
       </mat-expansion-panel-header>
   
       <mat-form-field>
         <input matInput placeholder="First name">
       </mat-form-field>
   
       <mat-form-field>
         <input matInput placeholder="Age">
       </mat-form-field>
     </mat-expansion-panel>
     <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
       <mat-expansion-panel-header>
         <mat-panel-title>
           Self aware panel
         </mat-panel-title>
         <mat-panel-description>
           Currently I am {{panelOpenState ? 'open' : 'closed'}}
         </mat-panel-description>
       </mat-expansion-panel-header>
       <p>I'm visible because I am open</p>
     </mat-expansion-panel>
   </mat-accordion>
 </ion-content>
 